body{
    margin: 0;
    padding: 0;
    background-color: #000;
    animation: fadeIn 5s ease-out forwards;
    opacity: 0;
    scrollbar-width: thin;
    scrollbar-color: #5f5f5f #f1f1f1;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        background-color: #05040a;
    }
}

#particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    animation: fade 5s ease-out forwards;
    opacity: 0;
}

@keyframes fade {
    to {
        opacity: 0.5;
    }
}

.titulo {
    text-align: center;
    color: #cecece;
    font-family: "Poppins-SemiBold";
    letter-spacing: 2px;
    font-size: 3em;
    z-index: 1;
}

.container_principal{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.card{
    background-color: #ffffff;
    color: black;
    font-family: "Poppins";
    text-align: left;
    min-width: 200px;
    max-width: 350px;
    min-height: 600px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 900ms ease-in-out;
    z-index: 1;
}

.card:hover{
    transform: translateY(-7px)
}

.card .picture{
    max-width: 100%;
    height: min-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

span{
    display: flex;
    margin-top: 15px;
}

.card .categoria{
    font-family: "Poppins-Medium";
    font-size: 0.7rem;
    color: #000;
    background-color: transparent;
    border: solid;
    border-width: 2px;
    text-align: center;
    border-color: #000;
    border-radius: 15px;
    margin-left: 10px;
    transition: 400ms ease-in;
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.categoria:hover{
    color: #FFF;
    border-radius: 20px;
    border-color: transparent;
}

.categoria_php:hover {
    background-color: #617cbe;
}

.categoria_js:hover {
    background-color: #f1c026;
}

.categoria_mysql:hover {
    background-color: #ffa518;
}

.categoria_css:hover {
    background-color: #2dabdd;
}

.categoria label{
    margin-left: 5px;
    margin-right: 5px;
}

.card .data{
    font-size: 0.8rem;
    margin-left: 15px;
    font-family: "Poppins-SemiBold";
    margin-bottom: -10px;
    margin-top: 10px;
}

.card h1{
    max-width: max-content;
    margin-left: 10px;
    word-break: break-word;
    font-family: "Poppins-SemiBold";
}

.card p{
    margin-left: 15px;
    font-size: 1.3rem;
    max-width: 90%;
    font-family: "Poppins-Regular";
}

.center{
    margin-top: 40px;
    place-items: center;
    display: flex;
}

.card a{
    margin-left: 15px;
    margin-bottom: 2px;
    font-size: 1.4rem;
    text-decoration: none;
    font-family: "Poppins-Medium";
    color: #4632C9;
}

.card .documentacao{
    margin-left: 15px;
    margin-bottom: 2px;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: "Poppins-Medium";
    color: #0d0716;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
}
        
::-webkit-scrollbar-thumb {
    background: #5f5f5f;        
    border-radius: 5px;        
}
        
::-webkit-scrollbar-thumb:hover {
    background: #808080;        
}